@use "../global" as g;
// ヘッダー
.header {
  width: 100%;
  height: 90px;
  background-color: g.$color-white;
  border-bottom: solid 1px g.$color-grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include g.small {
    height: 60px;
  }
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titleLogo {
    width: 100px;
    aspect-ratio: 100/32;
    img {
      height: auto;
    }
  }
}

.hero {
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  @include g.small {
    height: 300px;
  }
  &__title {
    text-align: center;
    @include g.font-style(
      clamp(1.125rem, 0.9485rem + 0.8824vw, 1.5rem),
      g.$color-dark,
      700,
      1.5,
      0
    );
  }
}
