@use "../global" as g;
.form {
  background-color: g.$color-white;
  padding: 60px 40px 80px 40px;
  margin-top: -80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
  @include g.tab {
    padding: 30px 20px 60px 20px;
  }
  &__description {
    text-align: center;
    margin-top: clamp(1.25rem, 0.6618rem + 2.9412vw, 2.5rem);
    @include g.font-style(
      clamp(0.875rem, 0.8162rem + 0.2941vw, 1rem),
      g.$color-dark,
      700,
      1.5,
      0
    );
  }
}
.formFlow {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    width: clamp(3.75rem, 3.1618rem + 2.9412vw, 5rem);
    height: clamp(3.75rem, 3.1618rem + 2.9412vw, 5rem);
    background-color: g.$color-white;
    border: solid 2px g.$color-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100%;
    text-align: center;
    @include g.font-style(
      clamp(0.75rem, 0.6324rem + 0.5882vw, 1rem),
      g.$color-grey,
      700,
      1.25,
      0
    );
    &.active {
      background-color: g.$color-black;
      border: none;
      color: g.$color-white;
    }
  }
  .line {
    display: inline-block;
    width: clamp(1.25rem, -0.5147rem + 8.8235vw, 5rem);
    height: 2px;
    background-color: g.$color-grey;
  }
}
.mw_wp_form {
  margin-top: clamp(1.875rem, 0.9926rem + 4.4118vw, 3.75rem);
}
.formItem {
  display: block;
  border-bottom: solid 1px g.$color-grey;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    @include g.font-style(
      clamp(1.125rem, 0.9485rem + 0.8824vw, 1.5rem),
      g.$color-dark,
      700,
      1.5,
      0
    );
    span {
      display: inline-block;
      width: clamp(1.25rem, 0.6618rem + 2.9412vw, 2.5rem);
      height: 2px;
      background-color: g.$color-grey;
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: g.$color-grey;
        transform: rotateZ(90deg);
        transition: transform 0.4s ease-in-out;
        .is-opened & {
          transform: rotateZ(0);
          transition: transform 0.4s ease-in-out;
        }
      }
    }
  }
  summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
  }
  &__body {
    overflow: hidden;
  }
  &__inner {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.formInput {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  gap: 16px;
  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    @include g.font-style(16px, g.$color-dark, 700, 1, 0);
    .hissu {
      @include g.font-style(14px, g.$color-white, 700, 1, 0);
      padding: 5px 14px;
      background-color: g.$color-red;
      border-radius: 6px;
    }
  }
  .colorpick-eyedropper-input-trigger {
    display: none;
  }
  .caption {
    @include g.font-style(12px, g.$color-red, 700, 1.5, 0);
    margin-top: -11px;
  }
}
.input__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include g.tab {
    gap: 16px;
  }
}
input[type="text"] {
  width: 100%;
  border: solid 1px g.$color-grey;
  background-color: g.$color-white;
  padding: 10px;
  @include g.font-style(16px, g.$color-dark, 700, 1, 0);
  text-align: left;
  &::placeholder {
    color: g.$color-grey;
  }
  &#colorCode,
  &#amount {
    width: 220px !important;
  }
}
input[type="color"] {
  width: 80px;
  height: 44px;
  border: solid 1px g.$color-black;
  cursor: pointer;
}
//▼ラジオボタンカスタム
.radioBtn {
  .horizontal-item {
    & + .horizontal-item {
      margin-left: 0;
    }
  }
}
.mwform-radio-field {
  display: block;
  padding: 8px 0;
}
input[type="radio"] {
  &.btnHidden {
    display: none;
    &:checked {
      & + span {
        color: #2ca6e0;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.mwform-radio-field-text {
  @include g.font-style(18px, g.$color-dark, 400, 1, 0);
  padding-left: 25px;
  display: inline-block;
  position: relative;
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid g.$color-grey;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: g.$color-white;
  }
  &:after {
    opacity: 0;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border: none;
    background-color: #2ca6e0;
  }
}
button {
  &.colorCheck {
    width: 120px;
    height: 44px;
    background-color: g.$color-grey;
    text-align: center;
    border: solid 1px g.$color-black;
  }
}
select {
  width: 100%;
  border: solid 1px g.$color-grey;
  background-color: g.$color-white;
  padding: 10px;
  @include g.font-style(16px, g.$color-dark, 700, 1, 0);
  text-align: left;
  &::placeholder {
    color: g.$color-grey;
  }
}
